<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"></script>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Eventster</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/style.css" runat="server"/>

</head>
<body onload="checkSession()">
    <header>
        <nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Eventster</a>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Concerts" asp-action="Index">Concerts</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Tickets" asp-action="Index">Tickets</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Bookings</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Clients" asp-action="Index">Clients</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">About us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Statistics" asp-action="Index">Statistics</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            ViewBag.profileUrl = "https://graph.facebook.com/" + User.Identities.ElementAt(0).Claims.ElementAt(0).Value + "/picture??width=100&amp;height=100";
                            <li><a asp-area="" asp-controller="Auth" asp-action="SignOut">Sign out</a></li>
                            <li style="position:absolute; right:20px;"><a class="hide nav-link text-dark" asp-controller="Users" asp-action="LogOff" id="LogOff">Log Out</a></li>
                            <li><img alt="" class="facebook-profile" src="@ViewBag.profileUrl" /></li>
                        }
                        else
                        {
                            <li style="position:absolute; right:20px;"><a class="hide nav-link text-dark" asp-controller="Users" asp-action="Login" id="LogMessage"></a></li>
                            <li style="position:absolute; right:85px;"><a class="hide nav-link text-dark" asp-controller="Users" id="WelcomeMessage"></a></li>
                            <li><a class="hide nav-link text-dark" asp-controller="Auth" asp-action="FacebookLogin" id="FacebookLogin"></a></li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Eventster - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
    @Html.Raw(TempData["msg"]);
</body>
</html>

<script>

    function checkSession() {
        $.ajax({
            type: 'GET',
            url: '/Users/checkSession',
            success: function (data) {
                // Checks if there is user that already logged on
                if (data.isLogin) {
                    // Inject messages in JQuery.
                    $("#WelcomeMessage").removeClass("hide").text("Welcome " + data.userName);
                    $("#Logoff").removeClass("hide").text("Log Off");

                }
                else {
                    $("#LogMessage").removeClass("hide").text("Manager Login");
                    $("#FacebookLogin").removeClass("hide").text("Login");
                }
            },
            error: function (e) {
                console.log(e);
            }
        });
}
</script>
